body{
	margin-bottom:80px;


}

.page-header{
	margin-top: 0;
}

.panel-body{
	padding-top: 0;
}

.featuredImg{
	margin-bottom: 15px;

}
.logoImg{
    width:100%;
    margin-bottom:15px;
    height:75%;
}


.body-bg{
  padding: 0;
  margin: 0;
  //background: #f2f2f2 url(../img/bg.jpg) no-repeat center top;

  width: 100%;
  display: table;
}

input{

}

#footer{
  margin-top:100px;

}