body{
	margin-bottom:80px;


}

.page-header{
	margin-top: 0;
}

.panel-body{
	padding-top: 0;
}

.featuredImg{
	margin-bottom: 15px;

}
.logoImg{
    width:100%;
    margin-bottom:15px;
    height:75%;
}


.body-bg{
  padding: 0;
  margin: 0;
  background-color:#f2f2f2;
  //background: #f2f2f2 url(../img/bg.jpg) no-repeat center top;

  width: 100%;
  display: table;
}

input{

}

#footer{
  margin-top:100px;

}
.navbar-inner {

background: #299a0b; /* Old browsers */
background: -moz-linear-gradient(top,  #299a0b 0%, #5cc425 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#299a0b), color-stop(100%,#5cc425)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #299a0b 0%,#5cc425 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #299a0b 0%,#5cc425 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #299a0b 0%,#5cc425 100%); /* IE10+ */
background: linear-gradient(to bottom,  #299a0b 0%,#5cc425 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#5cc425',GradientType=0 ); /* IE6-9 */

}

.navbar-custom{



}

// ICON
//==============================================================================
.world-icon{
  width:50px;
  height:50px;


}


